
.cover {
    height: 650px;
    width:1536px;
    background-size:'cover';
    background-image: url('../../img/homebg.png');
    background-color: 'rgba(0,0,0,0.5)';
    background-repeat: 'no-repeat'
}

.title {
    font-family: "Montserrat";
    font-weight: 600;
}

.home-description {
    width: 400px;
    box-align: center;
}

.home-description h5 {
    font-family: "Montserrat";
    font-weight: bold;
}

.home-description p {
    font-family: "Montserrat";
    text-align: center;
}
