
.home-body {
    font-family: "Montserrat";
}

.cover {
    min-height: 450px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-image: url('../../img/homebg.png');
    background-color: 'rgba(0,0,0,0.5)';
    background-repeat: 'no-repeat'
}

.title {
    font-weight: 600;
}

.home-description {
    width: 400px;
    box-align: center;
}

.home-description h5 {
    font-family: "Montserrat";
    font-weight: bold;
}

.home-description p {
    font-family: "Montserrat";
    text-align: center;
}

.home-portfolio-image {
    max-height: 483px;
}
